.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
.eggs/
.eggs-info/
.installed.cfg
*.egg-info/
*.egg
.git
.gitignore
.vscode
.env
.env.*
flask.pid
data.json
deleted.json
